.placeholder-ultimeter-gutenberg-block .components-placeholder.is-large {
    align-items: center !important;
}
.placeholder-ultimeter-gutenberg-block .components-base-control {
  width: 100%;
  text-align: center;

}
.placeholder-ultimeter-gutenberg-block .components-placeholder__label{
  display: block;
  text-align: center;
  width: 100%;
}
.placeholder-ultimeter-gutenberg-block .ultimeter-logo{
  display: block !important;
  margin: 0 auto;
}

.placeholder-ultimeter-gutenberg-block select{
  min-height: 40px !important;
}